p {
 font-size:40px;
 color:yellow;
 font-family:Times New Roman;
 font-weight:bold;
 font-style: italic;
 text-align:center ;
 background:linear-gradient(blue,red);
 border-radius:15px;
 text-shadow:4px -4px 2px orange;
 width:0px;
 -webkit-transition: width 3s;  
}
p:hover{
    width: 100%;
}
